.main {
   display: block;
   padding-left: 300px;
   padding-right: 300px;
   border-left: 5px solid #0088a9;
   border-right: 5px solid #0088a9;
   border-image: linear-gradient(rgba(2,0,36,1) 0%, rgba(32,32,181,1) 22%, rgba(0,136,169,1) 81%) 1;
   margin-left: 100px;
   margin-right: 100px;
}

.headshot {
   width: 25%;
   height: auto;
   margin-left: auto;
   margin-right: auto;
   border-radius: 300px;
   border: outset black 3px;
}

.venti-logo {
   width: 20%;
}

.venti-physical {
   width: 40%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   border: solid #0088a9 3px;
}

.main-section-one {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-bottom: 50px;
   border-bottom: solid #0088a9;
}

.main-text-intro {
   justify-content: center;;
}

.main-text-intro-right {
   text-align: end;
}

.main-img {
   text-align: center;
}

.main p {
   font-size: 20px;
   line-height: 2;
}

.main-projects-mantis,
.main-projects-mte220 {
   display: flex;
   align-items: center;
}

.mantis-web-icon,
.mte220-web-icon {
   width: 50px;
   padding-left: 10px;
}

.mantis-example {
   width: 80%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   border: solid #0088a9 3px;
}