.venti-logo {
   text-align: center;
   width: 50vw;
 }
 
 .venti-physical {
   width: 60vw;
   display: block;
   margin-left: auto;
   margin-right: auto;
   border: solid black 1px;
 }

 .main-projects {
   padding-left: 3rem;
   padding-right: 3rem;
   text-align: center;
 }
 .main-projects h2 {
   text-align: center;
 }
 
 .main-projects-mantis,
 .main-projects-mte220 {
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .mantis-web-icon,
 .mte220-web-icon {
   width: 3.125rem;
   padding-left: 0.625rem;
 }
 
 .mantis-example {
   width: 70vw;
   display: block;
   margin-left: auto;
   margin-right: auto;
   border: solid #0088a9 3px;
 }

 .hidden-projects {
   opacity: 0;
   filter: blur(15px);
   transform: translateZ(-100%);
   transition: all ease-in-out 1.2s;
  }
  
  .projects {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: dotted 6px #0088a9;
  }

 .show-projects {
   opacity: 1;
   filter: blur(0);
   transform: translateZ(0%);
 }