.resume-container {
   width: 100%;
   height: 100%;
   display: block;
   text-align: center;
   padding-bottom: 50px;
}

.resume {
   width:  40%;
   box-shadow: 0px 0px 12px rgb(193, 168, 94);
}

.main-resume {
   text-align: center;
}

.main-resume-download {
   padding: 0px 10px 0px 10px;
   text-decoration: none;
   transition: all 0.3s ease 0s;
   border-radius: 20px;
   color: black;
}
 
.main-resume-download:hover {
   background: #0088a9;
   color: white;
}

.main-resume-download-icon {
   width: 25px;
}

.main-resume-download-container {
   display: flex;
   justify-content: center;
   align-items: center;
}
 