.dark-mode .resume-container, .dark-mode .resume-header-links a, .dark-mode .resume-download-button-container {
   color: #f5f5f5;
}

.dark-mode .MuiChip-label {
   color: black;
}

.resume-download-button-container {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 1rem;
   color: black;
   margin-left: 25%;
   margin-right: 25%;
}

.resume-download-button-container:hover {
   cursor: pointer;
}

.resume-download-button-container:visited {
   text-decoration: none;
}

.resume-container {
   display: grid;
   grid-template-columns: 40% 55%;
   grid-template-rows: 9.5% 90.5%;
   column-gap: 5%;
   padding-left: 30%;
   padding-right: 30%;
   margin-top: 0rem;
   padding-top: 0rem;
   height: 100%;
   /* For pdf making purposes */
   /* background: linear-gradient(90deg, rgba(92, 64, 168, 0.25) 0%, rgba(10, 59, 110, 0.25) 50%, rgba(192, 2, 3, 0.25) 100%);
   margin-left: 28.1%;
   margin-right: 28.1%;
   padding-left: 2.25%;
   padding-right: 2.25%; */
   /* ------- */
}

.resume-header {
   grid-column: 1 / span 2;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
   border-bottom: 1px solid black;
   padding-left: 5rem;
   padding-right: 5rem;
   padding-top: 3rem;
   padding-bottom: 2rem;
}

.resume-header-name {
   font-size: 2.5rem;
   font-weight: bold;
}

.resume-header-links {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}

.resume-header-links a {
   font-size: 1rem;
   color: black;
   display: flex;
   gap: 0.25rem;
   text-decoration: none;
   justify-content: center;
   align-items: center;
}

.resume-left, .resume-right {
   display: flex;
   /* justify-content: center; */
   gap: 2rem;
   flex-direction: column;
}

.resume-skills-container, .resume-experience {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   margin-top: 1rem;
}

.resume-experience-header, .resume-skills-header, .resume-education-header, .resume-projects-header {
   font-size: 2.5rem;
   font-weight: bold;
}

.resume-experience-header {
   display: flex;
}

.resume-experience-details {
   font-size: 1rem;
}

.resume-project-header {
   font-size: 1.5rem;
   font-weight: bold;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.resume-projects-container {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.resume-skills-holder {
   display: grid;
   grid-template-columns: 0.6fr 1fr;
   grid-template-rows: 1fr 1fr;
   row-gap: 1rem;
}

.resume-experience-employer {
   font-size: 1.5rem;
   display: flex;
   gap: 0.5rem;
   align-items: center;
}

.resume-education-courses-container {
   display: grid;
   grid-template-columns: 48% 48%;
   grid-template-rows: 1fr 1fr 1fr 1fr;
   column-gap: 4%;
   row-gap:5%;
}

.resume-education-courses-left, .resume-education-courses-right {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.resume-education-school {
   font-size: 1.1rem;
   font-weight: bold;
   padding-top:0.5rem;
}

.resume-education {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}

.resume-experience-details {
   font-size: 0.95rem;
}

.resume-location-icon {
   font-size: 1rem !important;
}

.resume-list-container {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   padding-inline-start: 1.25rem;
   margin: 0;
}

@media screen and (max-width: 2600px) {
   .resume-container {
      padding-left: 25%;
      padding-right: 25%;
   }
}

@media screen and (max-width: 2300px) {
   .resume-container {
      padding-left: 20%;
      padding-right: 20%;
   }
}

@media screen and (max-width: 1900px) {
   .resume-container {
      padding-left: 15%;
      padding-right: 15%;
   }
}

@media screen and (max-width: 1615px) {
   .resume-container {
      padding-left: 10%;
      padding-right: 10%;
   }
}

@media screen and (max-width: 1425px) {
/*  still have 2 columns for the first row, but combine columns for the next rows */
   .resume-container {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      padding-left: 5%;
      padding-right: 5%;
      column-gap: 0;
      padding-bottom: 5rem;
   }

   .resume-header {
      grid-column: 1 / span 1;
   }

   .resume-left {
      grid-column: 1 / span 2;
   }
   
   .resume-right {
      grid-column: 1 / span 2;
   }
}

@media screen and (max-width: 1100px) {
   .resume-header-links {
      flex-direction: column ;
   }
   .resume-header {
      flex-direction: row;
      justify-content: space-between;
      padding-left: 0;
      padding-right: 0;
   }
}

@media screen and (max-width: 440px) {
   .resume-header {
      flex-direction: column;
   }
}