.dark-mode .resume-container {
   color: #f5f5f5;
}

.dark-mode .resume-header-links a {
   color: #f5f5f5;
}

.resume-container {
   display: grid;
   grid-template-columns: 40% 55%;
   grid-template-rows: 10% 90%;
   column-gap: 5%;
   padding-left: 30%;
   padding-right: 30%;
   margin-top: 0rem;
   padding-top: 0rem;
   height: 150vh;
   background: hsla(179, 83%, 64%, 1);
   background: linear-gradient(90deg, rgba(92, 64, 168, 0.25) 0%, rgba(10, 59, 110, 0.25) 50%, rgba(192, 2, 3, 0.25) 100%);
}

.resume-header {
   grid-column: 1 / span 2;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
   border-bottom: 1px solid black;
   padding-left: 5rem;
   padding-right: 5rem;
}

.resume-header-name {
   font-size: 2.5rem;
   font-weight: bold;
}

.resume-header-links {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}

.resume-header-links a {
   font-size: 1rem;
   color: black;
   display: flex;
   gap: 0.25rem;
   text-decoration: none;
   justify-content: center;
   align-items: center;
}

.resume-left, .resume-right {
   display: flex;
   /* justify-content: center; */
   gap: 2rem;
   flex-direction: column;
}

.resume-skills-container, .resume-experience {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   margin-top: 1rem;
}

.resume-experience-header, .resume-skills-header, .resume-education-header, .resume-projects-header {
   font-size: 2.5rem;
   font-weight: bold;
}

.resume-experience-header {
   display: flex;
}

.resume-experience-details {
   font-size: 1rem;
}

.resume-project-header {
   font-size: 1.5rem;
   font-weight: bold;
}

.resume-projects-container {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.resume-skills-holder {
   display: grid;
   grid-template-columns: 0.6fr 1fr;
   grid-template-rows: 1fr 1fr;
   row-gap: 1rem;
}

.resume-experience-employer {
   font-size: 1.5rem;
   display: flex;
   gap: 0.5rem;
   align-items: center;
}

.resume-education-courses-container {
   display: grid;
   grid-template-columns: 48% 48%;
   grid-template-rows: 1fr 1fr 1fr 1fr;
   column-gap: 4%;
}

.resume-education-courses-left, .resume-education-courses-right {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.resume-education-school {
   font-size: 1.1rem;
   font-weight: bold;
}

.resume-education {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}

.resume-experience-details {
   font-size: 0.95rem;
}

.resume-location-icon {
   font-size: 1rem !important;
}

.resume-list-container {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   padding-inline-start: 1.25rem;
   margin: 0;
}