.burger-menu-holder {
   position: fixed;
   width:  100%;
   height: 100vh;
   top: 0;
   left: 0;
   z-index: -1;
   transform: translateX(-110%);
}

.burger-menu {
   height: 100vh;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 0;
   background-color: #3C7A89;
   width: 30%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.burger-menu-close {
   position: absolute;
   top: 1.5rem;
   left: 1.5rem;
   width: 1.75rem;
   height: 1.75rem;
   background-size: 1.75rem 1.75rem;
   padding: 1.5rem;
   background-repeat: no-repeat;
   background-image: url("../../assets/close.webp");
   background-position: center;   
   border: transparent 2px white;
   border-radius: 100px;
}

.burger-menu-close:hover {
   cursor: pointer;
   border: white 2px solid;
   border-radius: 100px;
}

.burger-menu-overlay {
   display: none;
   position: absolute;
   top: 0;
   left: 0;
   background-color: rgba(128, 128, 128, 0.1);
   backdrop-filter: blur(3px);
   width: 100vw;
   height: 100vh;
   opacity: 0;
   z-index: -1;
}

.burger-menu-text-holder {
   font-size: 2rem;
   width: 100%;
   margin-left: 50%;
}

.burger-menu-text-holder div, a {
   margin: 1rem 0;
}

.burger-menu-text-holder a {
   text-decoration: none !important;
   display: block;
   color: inherit
}

.burger-menu-text-holder div:hover, a:hover {
   cursor: pointer;
   color: white;
}

.burger-menu-resume {
   color: inherit
}

/* screen width less than 1200 px */

@media screen and (max-width: 1200px) {
   .burger-menu {
      width: 100%;
   }
}

@media screen and (max-width: 400px) {
   .burger-menu-text-holder {
      margin: 0;
   }
}