.dark-mode .experience-line-date {
   color: #d4d4d4;
}

.dark-mode .experience-card {
   background: #0f1729 !important;
   color: rgb(123,143,178);
}

.dark-mode .experience-card, .dark-mode .experience-card span, .dark-mode .experience-card button {
   color: rgb(123,143,178);
}

.dark-mode .experience-card:hover {
   /* Figure out how to do this -- or maybe need sass */
   /* .experience-card span:hover {
      color: rgb(1, 136, 246)
   } */
}

.experience-line {
   border-radius: 2rem;
   height: 0.5rem;
   background-color: #3C7A89;
}

.experience-line-date {
   font-size: 1.5rem;
   font-weight: 600;
   margin-top: 1rem;
   margin-bottom: 1rem;
}

.right-line-date {
   padding-left: 1rem;
}

.left-line-date {
   padding-right: 1rem;
}

.experience-line-container {
   display: flex;
   flex-direction: column;
   /* when mobile width is 20vw */
   @media screen and (max-width: 768px) {
      width: 25vw;
   }
}

.right-line-container {
   margin-right: 1rem;
}

.left-line-container {
   margin-left: 1rem;
}

.experience-card-container {
   display: flex;
   flex-direction: row;
   justify-content: end;
   align-items: center;
   scroll-margin-top: 8rem;
}

.left-card-container {
   margin-right: -0.25rem;
   margin-left: auto;
   margin-bottom: 5rem;
}

.right-card-container {
   margin-left: -0.25rem;
   margin-right: auto;
   margin-top: 5rem;
}

.experience-card {
   width: 15vw;
   border-radius: 20px !important;
   box-shadow: none !important;
   @media screen and (max-width: 768px) {
      width: 50vw;
   }  
}

.experience-card:hover {
   box-shadow: #3C7A89 0px 0px 10px 0px !important;
   cursor: pointer;
}