.dark-mode .main-projects-card {
   background: #0f1729 !important;
}

.dark-mode .main-projects-card, .dark-mode .main-projects-card span, .dark-mode .main-projects-card button {
   color: rgb(123,143,178);
}

.main-projects-card {
   border-radius: 1rem !important;
   box-shadow: none !important;
}

.main-projects-card:hover {
   box-shadow: #3C7A89 0px 0px 10px 0px !important;
   cursor: pointer;
}