.dark-mode .main-projects-card {
   background: #f5f5f5 !important;
}

.main-projects-card {
   border-radius: 1rem !important;
  }
 
  .main-projects-card:hover {
     box-shadow: 0 0 11px rgba(33,33,33,.2);
  }