.footer {
   position: relative;
   display: flex;
   align-items: center;
   height: 15vh;
   margin-top: 3.125rem;
   vertical-align: middle;
   font-size: 1.5rem;
   background-color: #f5f5f5;
   color: black;
   margin-left: 1rem;
   margin-right: 1rem;
   padding-top: 1rem;
 }
 
 .footer-text-links {
   font-size: 0.75rem;
 }
 
 .footer-text-links a {
   text-decoration: none;
   color: inherit;
 }

/* Dark mode for Footer */

.dark-mode .footer {
   background-color: #0f1729;
   color: #f5f5f5;
 }