.footer {
   position: relative;
   display: flex;
   align-items: center;
   height: 15vh;
   margin-top: 3.125rem;
   vertical-align: middle;
   font-size: 1.5rem;
   color: black;
   margin-left: 3rem;
   margin-right: 3rem;
   padding-top: 1rem;
 }
 
 .footer-text-links {
   font-size: 0.75rem;
 }
 
 .footer-text-links a {
   text-decoration: none;
   color: inherit;
 }
