 .app-header {
   display: flex;
   justify-content: center;
   align-items: center;
   position: sticky;
   background-color: #3C7A89;
   height: 7vh;
   top: 0;
   opacity: 0;
   /* b/c about me and skills are above for some reason */
   z-index: 1;
   transition: opacity 0.35s ease-in-out;
 }
 
 .app-header a {
   text-decoration: none;
   color: inherit;
 }
 
 .app-header a svg {
   font-size: 2.5rem;
 }
 
.theme-toggle {
   margin: 1rem;
   color: #f5f5f5;
}

 /* Dark Mode CSS for Header */

 .dark-mode .app-header {
   background-color: #3C7A89
 }
 
 .dark-mode .app-header a {
   color: white;
 }

 .dark-mode .burger-menu {
  color: #f5f5f5;
}

 .dark-mode .theme-toggle {
   color: #f5f5f5;
 }

 /* screen height less than 800px then set app-header min-width to 8vh */
@media screen and (max-height: 800px) {
   .app-header {
     min-height: 70px;
   }
 }
 