.venti-logo {
  text-align: center;
  width: 25vw;
}

.project-card-inside-image {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 30vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid black 1px;
}

/* Make a grid 2 columns x rows evenly width and variable height and spaced */
/* Add a diving border between 2 columns coloured black */
.main-projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.main-projects {
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;
}
.main-projects h2 {
  text-align: center;
}

.main-projects-mantis,
.main-projects-mte220 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mantis-web-icon,
.mte220-web-icon {
  width: 3.125rem;
  padding-left: 0.625rem;
}

.mantis-example {
  width: 35vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid #3c7a89 3px;
}

.projects {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* For window sizes width less than 900px  */

@media only screen and (max-width: 900px) {
  .main-projects-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .mantis-example {
    width: 100%;
  }
  .venti-physical {
    width: 100%;
  }
  .venti-logo {
    width: 50vw;
  }
}
