.main-skills-container {
  padding-bottom: 2rem;
  border-bottom: solid 2px #3c7a89;
  border-top: solid 2px #3c7a89;
  width: 50%;
  margin: 0 auto;
}

.skills-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.skill {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: solid 1.5px #3c7a89;
  color: black;
  font-size: 1rem;
}

.skill.hidden {
  opacity: 0;
  transform: translateY(50px);
}

.skills-filter {
  padding: 0.5rem 1rem;
  border-bottom: solid 2.5px black;
  color: black;
  cursor: pointer;
  font-size: 1rem;
}

.dark-mode .skills-filter {
  color: white;
}

.dark-mode .skill {
  color: white;
}

@media only screen and (max-width: 1350px) {
  .main-skills-container {
    width: 100% !important;
    border-top: none !important;
  }
}

@media only screen and (max-width: 800px) {
  .skills-grid-container {
    grid-template-columns: 1fr; /* Single column on smaller screens */
    gap: 1rem;
  }

  .skills-filter {
    padding: 0.5rem 1rem;
    border: solid 2.5px black;
  }

  .skills-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
