.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 80px;
  border-bottom: solid black 3px;
  margin-bottom: 50px;
  vertical-align: middle;
  font-size: 24px;
  position: sticky;
  top: 0;
  background-color: white;
}

.nav-link-home {
  margin-right: auto;
  text-decoration: none;
  padding: 5px;
}

.nav-links-others {
  padding: 0px 10px 0px 10px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.nav-link:hover {
  box-shadow: 0 0 10px #0088a9;
  color: #0088a9;
  border-radius: 20px;
}

.nav-link:link,
.nav-link:visited {
  color: inherit
}

.nav-linkedin {
 width: 30px;
 margin-right: 10px;
}

.nav-linkedin:hover,
.nav-github:hover {
  box-shadow: 0 0 10px #0088a9;
 }

.nav-github {
  width: 30px;
}

.nav-breaker {
  background-color: black;
  width: 2px;
  height: 50px;
  margin: 0 10px 0px 10px;
}

.footer {
  display: flex;
  align-items: center;
  height: 120px;
  border-top: solid black 3px;
  margin-top: 50px;
  vertical-align: middle;
  font-size: 24px;
  background-color: white;
}

.footer-text-links {
  font-size: 12px;
}