.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 80px;
  border-bottom: solid black 3px;
  margin-bottom: 50px;
  vertical-align: middle;
  font-size: 24px;
  position: sticky;
  top: 0;
  background-color: white;
}

.nav-link-home {
  margin-right: auto;
  text-decoration: none;
}

.nav-links-others {
  padding: 0px 10px 0px 10px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.nav-link:hover {
  text-decoration: underline #0088a9 3px;
  color: #0088a9;
}

.nav-link:link,
.nav-link:visited {
  color: inherit
}