@import "./_colors.scss";

// A mix-in to apply all the dark mode themes
@mixin dark-mode {
  .main-section-one, .main-bio, .main-projects, .main-text-intro-left, .about-me-container, .main-skills-container h1, .main-skills {
    color: $white-text-color;
  }

  // This is to change the burger icon colour to white
  // Did this instead of messing with svgs
  // Website for finding how to filter from 1 color to another: https://codepen.io/sosuke/pen/Pjoqqp
  .burger, .burger-menu-close, .mantis-web-icon, .mte220-web-icon {
    filter: invert(84%) sepia(100%) saturate(0%) hue-rotate(200deg) brightness(104%) contrast(102%);
  }

  .headshot {
    border-color: white;
  }

  .burger-menu {
    color: white;
  }

  .app-background {
    background-color: $dark-background-color
  }

  .theme-toggle {
    color: white;
  }
}

// Might not need this light-mode mixin
//Already handling the pref dark scheme in js
// Defaults to light-mode if not dark
@mixin light-mode {
  .main-section-one, .main-bio, .main-projects, .main-text-intro-left, .main-bio-container, .main-skills-container h1, .main-skills {
    color: $black-text-color;
  }

  .app-background {
    background-color: $light-background-color;
  }
}

.dark-mode {
  @include dark-mode;
}

.light-mode {
  @include light-mode;
}

.App {
  position: relative;
}

.main-text-intro-left h1 {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(90deg,#2ca2b4,#5598de 24%,#7f87ff 45%,#f65aad 76%,#ec3d43);
  color: transparent;
}

.theme-toggle {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  border: solid 2px $main-blue;
  padding: 0.4rem 0.4rem 0.4rem 0.4rem;
  border-radius: 10px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 80px;
  border-bottom: solid black 3px;
  margin-bottom: 3.125rem;
  vertical-align: middle;
  font-size: 1.5rem;
  position: sticky;
  top: 0;
  background-color: white;
}

.nav-link-home {
  margin-right: auto;
  text-decoration: none;
  padding: 0.313rem;
}

.nav-links-others {
  padding: 0 0.625rem 0 0.625rem;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.nav-link:hover {
  box-shadow: 0 0 10px $main-blue;
  color: $main-blue;
  border-radius: 20px;
}

.nav-link:link,
.nav-link:visited {
  color: inherit
}

.nav-linkedin {
 width: 30px;
 margin-right: 0.625rem;
}

.nav-linkedin:hover,
.nav-github:hover {
  box-shadow: 0 0 10px $main-blue;
 }

.nav-github {
  width: 30px;
}

.nav-breaker {
  background-color: black;
  width: 2px;
  height: 50px;
  margin: 0rem 0.625rem 0rem 0.625rem;
}

.footer {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  height: 15vh;
  border-top: solid black 3px;
  margin-top: 3.125rem;
  vertical-align: middle;
  font-size: 1.5rem;
  background-color: $main-blue;
  color: white;
}

.footer-text-links {
  font-size: 0.75rem;
}