.burger {
   background-image: url("./menu.png");
   background-size: 3rem 3rem;
   position: relative;
   top: 0.5rem;
   left: 0.5rem;
   width: 3rem;
   height: 3rem;
}

.open {
   display: block !important;
   transform: translateY(0) !important;
}