.burger {
   background-image: url("./menu.png");
   background-size: 3rem 3rem;
   position: relative;
   top: 0.5rem;
   left: 0.5rem;
   width: 3rem;
   height: 3rem;
   /* Instead of opacity do something with colour */
   opacity: 60%;
   transition: opacity 0.2s ease-out;
   animation: rotate 10s 2s infinite ease-in-out running;
}

.burger:hover {
   cursor: pointer;
   opacity:100%;
}

.open {
   display: block !important;
   transform: translateY(0) !important;
}

@keyframes rotate {
   from {
      transform: rotate(0deg);
   }

   to {
      transform: rotate(360deg);
   }
}